Title: About Me
---

<article  class="box post post-excerpt">
<header><h2>About me</h2></header>

<p>My name is Erik van Brakel, nice to meet you! I'm currently working as an Infrastructure Engineer at <a href="https://www.evision-software.com">eVision Industry Software BV</a>,
a Dutch software company and the global leader in Control of Work software (COW).</p>
 
<p>After a lot of years working as a .NET Developer, I was presented with the opportunity to dive into the world of infrastructure as code, and went for it.
Through this opportunity I got to expand my horizon from 'just' .NET to the tools and languages which are widely used in this space: Go, Ruby, Python as languages,
and tools such as Chef, Terraform and Docker.</p>

<p>If you would like to contact me, you can reach me on <a href="https://twitter.com/erikvanbrakel">Twitter</a> and <a href="https://github.com/erikvanbrakel">GitHub</a>.</p>

<strong>Disclaimer: This blog, its content and opinions are my own.</strong>

</article>
